
body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("../image/wallpaper-pushbots.jpeg");
    background-size: 100% ;

    text-align: center;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
}


#time {
    font-size: 10em;
    font-weight: bold;
}
