
body {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;

    background-image: url("../image/wallpaper-pushbots.jpeg");
    background-size: 100% ;
    margin: 0;
}

.truc {
    margin: 5% auto;
}
#time {
    font-size: 11em;
    font-weight: bold;
}

main {
    display: flex;
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 40%;

    background-color: rgb(204, 204, 204);
}
main div {
    margin: 20px;
}

.genere-notif {
    display: flex;
    flex-direction: column;
}


#notif-box {
    width: 100px;
    height: 100px;

    background-color: rgb(153, 19, 199);
}
